<section class="holysheet-equipment">
  <header class="hs-item-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div>
      <textarea class="hs-name" name="name" rows="1" placeholder="{{localize "HOLYSHEET.Placeholder.Name"}}">{{item.name}}</textarea>
      <div class="hs-item-fields">
        <label>
          {{localize "HOLYSHEET.Label.Category"}}
          <select name="system.category" data-item-category>
            {{#each hs.categoryChoices}}
            <option value="{{label}}" {{#if selected}}selected{{/if}}>{{label}}</option>
            {{/each}}
          </select>
        </label>
        <label>
          {{localize "HOLYSHEET.Label.Quantity"}}
          <input name="system.quantity" type="number" value="{{system.quantity}}" min="0" />
        </label>
        <label>
          {{localize "HOLYSHEET.Label.Equipable"}}
          <input name="system.equipable" type="checkbox" {{checked system.equipable}} />
        </label>
        <label data-armor-value-field class="{{#unless hs.showArmorValue}}hs-hidden-field{{/unless}}">
          {{localize "HOLYSHEET.Label.ArmorValue"}}
          <input name="system.armorValue" type="number" value="{{system.armorValue}}" min="0" />
        </label>
      </div>
    </div>
  </header>

  <section class="hs-panel" style="margin-top:14px">
    <h2>{{localize "HOLYSHEET.Label.Description"}}</h2>
    <textarea name="system.description" rows="8">{{system.description}}</textarea>
  </section>
</section>
